arabic-reshaper>=2.1.0
future
imageio
Levenshtein>=0.20.0
lmdb>=1.1.0
networkx
numpy
nvidia-cublas-cu11>=11.10.3.66
nvidia-cuda-nvrtc-cu11>=11.7.99
nvidia-cuda-runtime-cu11>=11.7.99
nvidia-cudnn-cu11>=8.5.0.96
matplotlib
opencv-python
packaging
Pillow
PyWavelets
rapidfuzz>=2.11.0
safe-gpu>=1.5
scikit-image
scipy
shapely
scikit-learn
tifffile
torch
torchvision
typing-extensions>=4.1.0
lxml
imgaug
